<div id="<%= dom_id group %>" class="category">
  <img src= <%= group.icon %> class="category-icon" alt="category_img" />
  <div class="category-info">
    <h3><%= group.name %></h3>
    <p>Purchases: <strong>$<%= group.total_purchases %></strong></p>
  </div>
</div>
