  <header class="navigation">
    <a href=<%= group_purchases_path %> id="back-btn"><i class="fa-solid fa-arrow-left"></i></a>
    <h2>Purchases</h2>
    <a href="#"></a>
  </header>  
  <div class="purchase-form">
    <h3>New purchase</h3>
    
    <%= render "form", purchase: @purchase, groups: @groups %>
  </div>