<header class="navigation">
  <a href=<%= group_purchases_path %> id="back-btn"><i class="fa-solid fa-arrow-left"></i></a>
  <h2>Detail</h2>
  <a href="#"></a>
</header>

<div class="detail"><%= render @purchase %></div>