<div class="container">
		<div class="inner">
			<h1>Budget App</h1>
			<div class="buttons">
				<a href=<%= new_user_session_path %> class="login">LOG IN</a>
				<a href=<%= new_user_registration_path %> class="signup">SIGN UP</a>
			</div>
		</div>
	</div>